# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# =========================
# Virtual Environments
# =========================
venv/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Dataset
# =========================
data/*
!data/.gitkeep

# =========================
# Trained Models
# =========================
models/*
!models/.gitkeep

# =========================
# Reports
# =========================
reports/*
!reports/.gitkeep

# =========================
# Generated Results
# =========================
results/*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Optional Files
# =========================
test_api.py
tune_long.py